.jcs {
    justify-content: flex-start;
}

.jcc {
    justify-content: center;
}

.jce {
    justify-content: flex-end;
}

.acs {
    align-content: flex-start;
}

.ace {
    align-content: flex-end;
}

.aic {
    align-items: center;
}