// justify-content
.jcs {
    justify-content: flex-start;
}

.jcc {
    justify-content: center;
}

.jce {
    justify-content: flex-end;
}

// align-content
.acs {
    align-content: flex-start;
}

.ace {
    align-content: flex-end;
}

// align-items
.aic {
    align-items: center;
}